.die-container button {
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 600px) {
    .die-container button {
        height: 40px;
        width: 40px;
        font-size: 1.2rem;
    }
}