main {
  background: #F5F5F5;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 80px; */
}

#root {
  max-height: 450px;
  max-width: 450px;
  height: 100%;
  width: 100%;
}

.die-container {
  display: grid;
  gap: 20px;
  grid-template: auto auto / repeat(5, 1fr);
  margin-bottom: 25px;
}

.roll-die {
  border: none;
  width: 100px;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  cursor: pointer;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  /* font-family: 'Inter', sans-serif; */
  font-weight: 400;
  margin-top: 0;
  text-align: center;
  padding: 0px 24px;
  margin: 0;
}

@media (max-width: 600px) {

  #root {
    max-height: 400px;
    max-width: 400px;
  }

  .roll-die {
    width: 80px;
    height: 40px;
    font-size: 1rem;
  }

  .title {
    font-size: 40px;
    margin: 0;
  }

  .instructions {
    font-size: 14px;
    padding: 0px 20px;
    margin-bottom: 10px;
  }

  .die-container {
    margin-bottom: 18px;
  }
}