.container {
  display: flex;
  flex-direction: row;
}

main {
  background: #F5F5F5;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  justify-content: space-evenly;
  max-width: 500px;
  gap: 30px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.die-container {
  display: grid;
  gap: 20px;
  grid-template: auto auto / repeat(5, 1fr);
  margin-bottom: 25px;
}

.roll-die {
  border: none;
  white-space: nowrap;
  padding: 6px 21px;
  width: auto;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  cursor: pointer;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 1rem; */
}

.title {
  font-size: 40px;
  margin: 0;
}

.github-link {
  color: black;
  text-decoration: underline;
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}

.instructions {
  /* font-family: 'Inter', sans-serif; */
  font-weight: 400;
  margin-top: 0;
  text-align: center;
  margin: 0;
}

.best-score-section {
  margin: 1rem;
  background-color: #F5F5F5;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem 2rem 1rem 2rem;
  justify-content: start;
  max-width: 500px;
}

.roll-count-text {
  margin: 0;
}

.score-text {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.score-text-best {
  color: #59E391;
  font-weight: 600;
}

@media (max-width: 600px) {
  #root {
    justify-content: start;
  }

  main {
    gap: 20px;
  }

  .roll-die {
    height: 40px;
    font-size: 1rem;
  }

  .title {
    font-size: 40px;
    margin: 0;
  }

  .instructions {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .die-container {
    margin-bottom: 18px;
  }

  .container {
    flex-direction: column;
  }

  .best-score-section {
    margin-top: 0;
  }
}